body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #1666af; text-align: center; }
h1, h2          { font-family: 'Arial', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; padding-top: 5px; }
table, tr       { border: 1px solid black; width: 100%; text-align: center; }
th              { border-bottom: 1px solid black; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em;  padding-right: 35px; }
.add-entry dl,p { text-align: center; }
.add-entry dt   { font-weight: bold; padding-right: 30px; }
.add-entry dd   { padding-bottom: 5px; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #9B30FF; padding: 0.5em;
                  border: 1px solid #662D91; text-align: center; }
.error          { background: #9B30FF; padding: 0.5em; }

#inputCode		{ padding-bottom:15px; 
					border-bottom: 1px solid #999999;
					margin-bottom: 20px;}
					
input 				 {  margin-top:15px;}
input[type="submit"] {  font-size: 16px; 
						background-color: #1666af; 
						color: white; 
						padding: 4px; }
						<style>
#signInBlock h1 { color:#999999; }
#response { 
	color:#666666; 
	font-size:24px; 
	margin: 20px auto; 
	width:40%;  
	text-align: center;
}
    </style>
